.auth-form {
  width: 40rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control,
label,
.form-control input {
  width: 100%;
  display: block;
}
.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-action button {
  background-color: rgb(20, 89, 168);
  font: inherit;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  margin: 3px;
}
.form-control input {
  width: 100%;
  height: 35px;
  padding: 12px;
  box-sizing: border-box;
}
